<div class="main-content" *ngIf="user">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-2">
                <div fxLayoutAlign="center center">
                    <mat-form-field fxFlex="100%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Start Searching by any term">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Category" (change)="selectCategory($event)" [ngModel]="selectedCategory">
                                        <mat-option *ngFor="let category of categories" [value]="category">{{category | titlecase}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Stage" (change)="selectStage($event)" [ngModel]="selectedStage">
                                        <mat-option *ngFor="let stage of stages" [value]="stage">{{stage | titlecase}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <mat-form-field>
                                    <mat-select placeholder="Status" (change)="selectStatus($event)" [ngModel]="selectedStatus">
                                        <mat-option *ngFor="let status of statuses" [value]="status">{{status | titlecase}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-6 col-md-3" *ngIf="authService.canChangePermissions(user)">
                                <mat-form-field>
                                    <mat-select placeholder="Select Judges" [ngModel]="selectedJudges" multiple (change)="selectJudges($event)">
                                        <mat-option *ngFor="let judge of judges" [value]="judge">{{judge.name | titlecase}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button class="btn btn-success btn-xs" (click)="assignJudges()" [disabled]="loading">{{loading ? 'Please wait..' : 'Assign'}}</button>
                            </div>
                            <div class="col-xs-6 col-md-3" *ngIf="authService.canChangePermissions(user)">
                                <button class="btn btn-primary" (click)="updateStatus('promoted')" [disabled]="loading">{{loading ? 'Please wait..' : 'Promote'}}</button>
                                <button class="btn btn-danger" (click)="updateStatus('completed')" [disabled]="loading">{{loading ? 'Please wait..' : 'Revert'}}</button>
                                <button class="btn btn-danger" (click)="updateStatus('rejected')" [disabled]="loading">{{loading ? 'Please wait..' : 'Reject'}}</button>
                            </div>
                            <!-- <div class="col-xs-6 col-md-3">
                                <label>Minimum Score</label>
                                <mat-slider [max]="5" [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="1" (change)="selectMinScore($event)" [(ngModel)]="minScore">
                                </mat-slider>
                            </div> -->
                            <div class="col-xs-6 col-md-3">
                                <mat-checkbox (change)="selectCipla($event)">Show only Cipla</mat-checkbox>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <button type="button" class="btn btn-default float-right" (click)="reset()">Reset</button>
                            </div>
                        </div>
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [disabled]="true">
                                    </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [disabled]="!(row.status === 'approved' || row.status === 'completed' || row.status === 'promoted')">
                                    </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="teamName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Team Name</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <a class="text-primary" [routerLink]="['/a/entry/detail', element.submissionId]" target="_blank" [attr.disabled]="element.loading">
                                        {{ element.teamName || 'No team name' }}
                                        <span data-notify="icon" [ngClass]="{
                                                'ti-angle-right': !element.loading,
                                                'ti-more': element.loading
                                            }"></span>
                                    </a>
                                    <div class="text-success small">{{element.email}}</div>
                                    <div class="text-dark small">{{element.numericId}}</div>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="category">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.category | titlecase }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="stage">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Stage</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.stage || 'ideation' | titlecase }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="label" [ngClass]="{
                                            'label-default': element.status === 'submitted',
                                            'label-warning': element.status === 'approved',
                                            'label-danger': element.status === 'rejected',
                                            'label-info': element.status === 'scored',
                                            'label-success': element.status === 'completed' || element.status === 'promoted'
                                        }">
                                        {{ element.status | titlecase }}
                                    </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="scores">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <h4 *ngIf="authService.canChangeScore(user) && element.avgScore">
                                        <span class="label" [ngClass]="{
                                            'label-danger': element.avgScore < 3, 
                                            'label-warning': element.avgScore >= 3 && element.avgScore < 4, 
                                            'label-success': element.avgScore >= 4}
                                            ">
                                            {{element.avgScore | number:'1.2-2'}}
                                        </span>
                                    </h4>
                                    <span [ngClass]="{
                                        'text-danger': entry.score < 3, 
                                        'text-warning': entry.score >= 3 && entry.score < 4, 
                                        'text-success': entry.score >= 4}
                                        " [hidden]="!(authService.canChangeScore(user) || (entry.judgeId === user.uid))" *ngFor="let entry of element.entries">
                                        {{entry.score | number:'1.2-2'}}
                                    </span>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="assignedTo">
                                <mat-header-cell *matHeaderCellDef>Assigned to</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div *ngFor="let judge of getJudgeNames(element.judges)">{{judge | titlecase}}</div>
                                    <button class="btn btn-danger btn-xs" (click)="removeJudges(element)" *ngIf="element.judges && !(element.status === 'completed' || element.status === 'scored' || element.status === 'promoted')">
                                        Remove
                                    </button>
                                </mat-cell>
                            </ng-container>



                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                        <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[100, 250]" (page)="scrollTop()" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>