<div class="main-content" *ngIf="authService.user$ | async as user">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div fxLayoutAlign="center center">
                    <mat-form-field fxFlex="40%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.name | titlecase }}
                                    <br>
                                    <small>{{element.uid}}</small>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{ element.phone }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="roles">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Roles</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <mat-checkbox [(ngModel)]="element.roles.judge" [disabled]="!authService.canChangePermissions(user)">Judge</mat-checkbox>
                                    <mat-checkbox [(ngModel)]="element.roles.superjudge" [disabled]="!authService.canChangePermissions(user)">Super Judge</mat-checkbox>
                                    <mat-checkbox [(ngModel)]="element.roles.admin" [disabled]="!authService.canChangePermissions(user)">Admin</mat-checkbox>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button class="btn btn-icon btn-fill btn-tumblr" (click)="updateUser(element)" [disabled]="element.loading">
                                        <span data-notify="icon" class="ti-check" [ngClass]="{'ti-check':!element.loading, 'ti-more': element.loading}"></span>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                        <mat-paginator #paginator [pageSize]="100" [pageSizeOptions]="[100, 250]" (page)="scrollTop()" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>