<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngIf="userSubmission | async as submission" id="submission">
                    <div class="card-header">
                        <h6 class="text-primary">Team Name</h6>
                        <h4 class="card-title">
                            <button class="btn btn-default pull-right hidden-print" (click)="downloadPDF()">Download PDF</button>
                            {{ submission.teamName || 'No Team Name'}}
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-primary">
                                    <h6>Idea Category</h6>
                                </div>
                                <div>
                                    <p>{{ submission.category | titlecase }}</p>
                                </div>
                                <div class="text-primary">
                                    <h6>Idea Stage</h6>
                                </div>
                                <div>
                                    <p>{{ submission.stage || 'Ideation' | titlecase }}</p>
                                    <p class="text-success" *ngIf="submission.stage === 'revenues'">
                                        {{ submission.revenue | currency }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text-primary">
                                    <h6>Elevator Pitch</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.pitch }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Brief Overview</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.overview }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12" *ngIf="submission.attachment">
                                <div class="text-primary">
                                    <h6>Supporting documents</h6>
                                </div>
                                <div>
                                    <p>
                                        <a class="btn btn-warning btn-fill btn-wd" href="{{ submission.attachment }}">
                                            <span data-notify="icon" class="ti-download"></span>
                                            {{ submission.fileName }}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Idea potential</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.potential }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Target customers/market? </h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.market }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Competitors</h6>
                                </div>
                                <div>
                                    <p *ngFor="let competition of submission.competition">
                                        {{ competition }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Team members</h6>
                                </div>
                                <!-- <div class="row" *ngFor="let member of submission.members">
                                    <div class="col-md-3">
                                        <p>{{ member.name }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ member.role }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ member.experience }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <a href="https://{{ member.linkedInProfile }}">LinkedIn</a>
                                        </p>
                                    </div>
                                </div> -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Experience</th>
                                            <th>LinkedIn Profile</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let member of submission.members">
                                            <td>{{member.name}}</td>
                                            <td>{{member.role}}</td>
                                            <td>{{member.experience}}</td>
                                            <td>
                                                <a href="https://{{ member.linkedInProfile }}">LinkedIn</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Cipla Partnership in Idea</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.partner }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>