<div class="main-content">
    <div class="container-fluid" *ngIf="userSubmission | async as submission" >
        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngIf="!submission.judgeEntry || showForm">
                    <form [formGroup]="judgeEntryForm">
                        <div class="card-header">
                            <h4 class="card-title">Please submit your rating</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <div class="text-primary">
                                            <h6>Healthcare Idea</h6>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radioHealth" id="radioHealthYes" value="Yes" formControlName="radioHealth">
                                            <label for="radioHealthYes">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radioHealth" id="radioHealthNo" value="No" checked="" formControlName="radioHealth">
                                            <label for="radioHealthNo">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                <!--</div>-->
                                <!--<div>-->
                                    <div class="text-primary">
                                        <h6>Revenue Potential</h6>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="radioRev" id="radioRevYes" value="Yes" formControlName="radioRev">
                                        <label for="radioRevYes">
                                            Yes
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="radioRev" id="radioRevNo" value="No" checked="" formControlName="radioRev">
                                        <label for="radioRevNo">
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-primary">
                                        <h6>Revenue Potential in 3rd Year</h6>
                                    </div>
                                    <div>
                                        <select name="revenue_potential" class="form-control" formControlName="revenuePotential">
                                            <option selected="" disabled="">- select one -</option>
                                            <option *ngFor="let val of revenuePotentialConst" [value]="val.criteriaName">{{val.criteriaName}}</option>
                                        </select>
                                    </div>
                                    <div class="text-primary">
                                        <h6>Synergy with Cipla</h6>
                                    </div>
                                    <div>
                                        <select name="cipla_synergy" class="form-control" formControlName="ciplaSynergy">
                                            <option selected="" disabled="">- select one -</option>
                                            <option *ngFor="let val of ciplaSynergyConst" [value]="val.criteriaName">{{val.criteriaName}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-primary">
                                        <h6>Implementability of the Idea</h6>
                                    </div>
                                    <div>
                                        <select name="implementability" class="form-control" formControlName="implementability">
                                            <option selected="" disabled="">- select one -</option>
                                            <option *ngFor="let val of implementabilityConst" [value]="val.criteriaName">{{val.criteriaName}}</option>
                                        </select>
                                    </div>
                                    <div class="text-primary">
                                        <h6>Uniqueness</h6>
                                    </div>
                                    <div>
                                        <select name="uniqueness" class="form-control" formControlName="uniqueness">
                                            <option selected="" disabled="">- select one -</option>
                                            <option *ngFor="let val of uniquenessConst" [value]="val.criteriaName">{{val.criteriaName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-primary">
                                        <h6>Comments</h6>
                                    </div>
                                    <textarea class="form-control"
                                              placeholder="Please enter some comments about this entry"
                                              rows="3"
                                              formControlName="judgeComments"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-fill btn-wd"
                                            [disabled]="judgeEntryForm.invalid" (click)="saveJudgeEntry()">Submit</button>
                                    <button class="btn btn-wd" (click)="cancelJudgeEntry()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card" *ngIf="submission.judgeEntry && !showForm">
                        <div class="card-header">
                            <h4 class="card-title">Your Rating</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <div class="text-primary">
                                            <h6>Healthcare Idea</h6>
                                        </div>
                                        <div>
                                            <p>{{ submission.judgeEntry.healthcare.valueOf() }}</p>
                                        </div>
                                    </div>
                                    <div class="text-primary">
                                        <h6>Revenue Potential</h6>
                                    </div>
                                    <div>
                                        <p>{{ submission.judgeEntry.revPotential.valueOf() }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-primary">
                                        <h6>Revenue Potential in 3rd Year</h6>
                                    </div>
                                    <div>
                                        <p>{{ submission.judgeEntry.revenuePotential3rd.criteriaName }}</p>
                                    </div>
                                    <div class="text-primary">
                                        <h6>Synergy with Cipla</h6>
                                    </div>
                                    <div>
                                        <p>{{ submission.judgeEntry.synergy.criteriaName }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-primary">
                                        <h6>Implementability of the Idea</h6>
                                    </div>
                                    <div>
                                        <p>{{ submission.judgeEntry.implementability.criteriaName }}</p>
                                    </div>
                                    <div class="text-primary">
                                        <h6>Uniqueness</h6>
                                    </div>
                                    <div>
                                        <p>{{ submission.judgeEntry.uniqueness.criteriaName }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-primary">
                                        <h6>Comments</h6>
                                    </div>
                                    <div>
                                        <p>{{ submission.judgeEntry.comments }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-fill btn-wd" (click)="editJudgeEntry()">Edit</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="submission">
                    <div class="card-header">
                        <h6 class="text-primary">Team Name</h6>
                        <h4 class="card-title">
                            <button class="btn btn-default pull-right hidden-print" (click)="downloadPDF()">
                                Download PDF
                            </button>
                            {{ submission.teamName || 'No Team Name'}}
                        </h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-primary">
                                    <h6>Idea Category</h6>
                                </div>
                                <div>
                                    <p>{{ submission.category | titlecase }}</p>
                                </div>
                                <div class="text-primary">
                                    <h6>Idea Stage</h6>
                                </div>
                                <div>
                                    <p>{{ submission.stage || 'Ideation' | titlecase }}</p>
                                    <p class="text-success" *ngIf="submission.stage === 'revenues'">
                                        {{ submission.revenue | currency }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text-primary">
                                    <h6>Elevator Pitch</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.pitch }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Brief Overview</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.overview }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12" *ngIf="submission.attachment">
                                <div class="text-primary">
                                    <h6>Supporting documents</h6>
                                </div>
                                <div>
                                    <p>
                                        <a class="btn btn-warning btn-fill btn-wd" href="{{ submission.attachment }}">
                                            <span data-notify="icon" class="ti-download"></span>
                                            {{ submission.fileName }}
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Idea potential</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.potential }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Target customers/market? </h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.market }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Competitors</h6>
                                </div>
                                <div>
                                    <p *ngFor="let competition of submission.competition">
                                        {{ competition }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Team members</h6>
                                </div>
                                <!-- <div class="row" *ngFor="let member of submission.members">
                                    <div class="col-md-3">
                                        <p>{{ member.name }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ member.role }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ member.experience }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <a href="https://{{ member.linkedInProfile }}">LinkedIn</a>
                                        </p>
                                    </div>
                                </div> -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Experience</th>
                                            <th>LinkedIn Profile</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let member of submission.members">
                                            <td>{{member.name}}</td>
                                            <td>{{member.role}}</td>
                                            <td>{{member.experience}}</td>
                                            <td>
                                                <a href="https://{{ member.linkedInProfile }}">LinkedIn</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="col-md-12">
                                <div class="text-primary">
                                    <h6>Cipla Partnership in Idea</h6>
                                </div>
                                <div>
                                    <p>
                                        {{ submission.partner }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>