<ng-container *ngIf="user">
    <div class="alert alert-info" *ngIf="authService.canChangeScore(user)">
      Viewing this submission as {{user.name | titlecase}}
    </div>
  <ng-container *ngIf="(authService.canJudge(user)  && (user.name === rating.judgeName) || authService.canChangeScore(user)); then form else hidden"></ng-container>
</ng-container>
<ng-template #form>
  <!-- {{rating | json}} -->
  <form [formGroup]="judgeEntryForm" (ngSubmit)="saveJudgeEntry()" class="rating-form">
    <div class="card">
      <div class="card-header">
        <span class="pull-right">Judge Name: {{rating.judgeName | titlecase}}</span>
        <h4 class="card-title">Screening:
          <span class="label" [ngClass]="{'label-danger': score < 3, 'label-warning': score >= 3 && score < 4, 'label-success': score >= 4}">
            {{score | number:'1.2-2'}}
          </span>
        </h4>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-6">
            <div>
              <mat-form-field>
                <mat-select placeholder="3rd yr revenue potential" (change)="selectOption($event)" [required]="true" [value]="findAndRetrieve('revenuePotential', revenuePotential)"
                  [disabled]="revenuePotential && !authService.canChangeScore(user)">
                  <mat-option *ngFor="let val of revenuePotentialConst" [value]="val">{{val.criteriaName | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br>
            <div>
              <mat-form-field>
                <mat-select placeholder="Synergy with Cipla" (change)="selectOption($event)" [required]="true" [value]="findAndRetrieve('synergy', synergy)"
                  [disabled]="synergy && !authService.canChangeScore(user)">
                  <mat-option *ngFor="let val of ciplaSynergyConst" [value]="val">{{val.criteriaName | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <mat-form-field>
                <mat-select placeholder="Ease of Implementation" (change)="selectOption($event)" [required]="true" [value]="findAndRetrieve('implementability', implementability)"
                  [disabled]="implementability && !authService.canChangeScore(user)">
                  <mat-option *ngFor="let val of implementabilityConst" [value]="val">{{val.criteriaName | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br>
            <div>
              <mat-form-field>
                <mat-select placeholder="Idea Uniqueness" (change)="selectOption($event)" [required]="true" [value]="findAndRetrieve('uniqueness', uniqueness)"
                  [disabled]="uniqueness && !authService.canChangeScore(user)">
                  <mat-option *ngFor="let val of uniquenessConst" [value]="val">{{val.criteriaName | titlecase}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-primary">
              <h6>Comments</h6>
              <textarea class="form-control" placeholder="Please enter some comments about this entry" rows="3" formControlName="comments" [disabled]="judgeEntryForm.get('comments').value && !authService.canChangeScore(user)"></textarea>
              <p class="help-text small" *ngIf="!uniqueness">
                <strong>Guidelines</strong>
                Synergy with Cipla: Ideas in the following categories are in synergy with Cipla: Patient centricity, AI, POC Diagnostics,
                Remote monitoring diagnostic devices, therapy specific medical devices, telehealth, pharmacy/doctor discovery,
                integrated platforms, Drugopedia, Digital healthcare platforms.Implementability: For revenue/POC stage startup,
                rate on team strength. Additional criteria could be funding raised, sector expertise, premium educational
                background. For ideation start-ups, rate on ease of implementation
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="!rating.score || authService.canChangeScore(user)">
            <br>
            <button type="submit" class="btn btn-primary btn-fill btn-wd" [disabled]="!judgeEntryForm.valid || loading" *ngIf="!rating.score && authService.canJudge(user)">{{loading ? 'Saving...' : 'Save Score'}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #hidden>
  <div class="card">
    <div class="card-content">
      <p>You are not allowed to see the other judges' rating</p>
    </div>
  </div>
</ng-template>