<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card" *ngIf="count && count.total">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Registrations</p>
                                    {{count.total}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-info"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Cipla</p>
                                        {{count.cipla}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>R1 Entries</p>
                                    {{totCount}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-info"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>By Cipla</p>
                                        {{totCiplaR1}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="white">
                    <div class="card-header text-center">
                        <h5 class="card-title">R1 Entries</h5>
                    </div>
                    <div class="card-content">
                        <!-- <div id="chartOrders" class="chart-circle" [attr.data-percent]="judged | percent">{{judged | percent}}</div> -->
                        <div id="chartPreferences" class="ct-chart"></div>
                    </div>
                    <div class="card-footer">
                        <i class="fa fa-circle text-info"></i> Approved
                        <i class="fa fa-circle text-danger"></i> Rejected
                        <i class="fa fa-circle text-warning"></i> Scored
                        <i class="fa fa-circle text-success"></i> Completed
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-bar-chart-alt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>R2 Entries</p>
                                    {{totCountR2}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-info"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>By Cipla</p>
                                    {{ totCiplaR2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="blue">
                    <div class="card-header text-center">
                        <h5 class="card-title">R2 Entries</h5>
                        <p class="description">Judged</p>
                    </div>
                    <div class="card-content">
                        <div id="chartDashboard" class="chart-circle" data-percent="0">0%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">By Week</h4>
                        <p class="category">Submissions</p>
                    </div>
                    <div class="card-content">
                        <div id="chartStock"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">By Category</h4>
                        <p class="category">Total Submissions</p>
                    </div>
                    <div class="card-content">
                        <div id="chartViews"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">By Stage</h4>
                        <p class="category">Total Submissions</p>
                    </div>
                    <div class="card-content">
                        <div id="chartActivity"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="countryCount && countryCount.length">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">By Country</h4>
                        <p class="category">Total Submissions</p>
                    </div>
                    <div class="card-content country" style="max-height: 280px; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let country of countryCount">
                                    <td>{{country.name | titlecase}}</td>
                                    <td>{{country.count}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>